{% extends 'base.html' %}

{% block page-style %}
   <style>

   </style>
{% endblock %}

{% block page-header %}
   <h1>Chat
      <small>Django Channels</small>
   </h1>
{% endblock %}

{% block content %}
   <div id="chat" class="well well-lg" style="display: none">

   </div>
   <form onsubmit="return false">
      <div class="input-group">
         <input title='message' type="text" name="message" id="message" class="form-control">
         <span class="input-group-btn">
            <button id='send' class="btn btn-default" type="submit">
               <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send
            </button>
         </span>
      </div>
   </form>
{% endblock %}


{% block page-script %}
   <script>
      $(() => {
         const SESSION_KEY = '{{ request.session.session_key }}';
         const socket = new WebSocket(`ws://${window.location.host}/hotel_6/?session_key=${SESSION_KEY}`);
         const $chat = $('#chat');
         const $send = $('#send');
         const $message = $('#message');

         $send.click(event => {
            event.preventDefault();
            if(!$message.val()) return;

            socket.send($message.val());
            $message.val('');
         });

         socket.onmessage = event => {
            const data = JSON.parse(event.data);
            $chat.show();
            $chat.append(`<p class='chat-message'><span class="username">[${data.username}]</span> ${data.message}</p>`)
         }
      });
   </script>
{% endblock %}